@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
}

:root {
  --color-primary: #60b79d;
  --color-secondary: #af6474;
  --color-background: #4f4f4f;
  --color-cards: #2a2a2a;
}
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}
