@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
}

:root {
  --color-primary: #60b79d;
  --color-secondary: #af6474;
  --color-background: #313030;
  --color-cards: #0e0d0d;
}
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Largeur très fine */
  /* background-color: var(--color-primary); */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fond invisible */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* Couleur grise translucide */
  border-radius: 20px; /* Bords très arrondis style mobile */
}
